<!DOCTYPE html>
<html lang="en" ng-app="ampTestApp">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
    <link rel="stylesheet" href="app/site.scss">
    <script src="bower_components/angular/angular.js"></script>
    <script src="data.js"></script>
    <script src="app/js/controllers.js"></script>
</head>
<body ng-controller="DesktopCtrl">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <p>Search: <input ng-model="query"></p>
            <table class="table table-bordered">
                <tr ng-repeat="user in users | filter:query">
                    <td class="tdCenter">
                        <div><img src="{{user.picture}}"></div>
                        <div>{{user.firstName}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>